@import '../Colors';

div.vaccines-page {
  height: 100%;
  width: 80%;
  margin-left: 20%;
  .map-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    .map-title {
      h1 {
        margin: 25px 0;
        font-size: 22pt;
        span {
          color: rgb(8, 112, 8);
        }
      }
    }
    .map-subcontainer {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      width: 100%;
      height: 100%;
      background-color: $boxes-cards;
      border-radius: 5px;
      box-shadow: $shadow;
      margin-bottom: 30px;
    }
  }
}
