$texts-dark: rgba(19,19,19,255);
$texts-light: rgba(176,176,176,255);
$boxes-cards: rgba(255,255,255,255);
$background: rgba(247,247,247,255);
$number: rgba(19,19,19,255);
$covid: rgb(167, 0, 0);

$shadow: rgba(54, 54, 54, 0.308) 0px 1.4px 2.5px;
